*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Raleway;
}

@font-face{
    font-family: Raleway;
    src: url("TIPOGRAFÍAS\Raleway\Raleway-VariableFont_wght.ttf");
}

@font-face{
    font-family: Kaisei;
    src: url("TIPOGRAFÍAS\Kaisei_Tokumin\KaiseiTokumin-Regular.ttf");
}

h1, h2, h3, h4, h5, h6 {
    font-family: Kaisei;
}

p {
    font-family: Raleway;
}

header{
    background-image: linear-gradient(#222604 30%, #000000 70%);
}

.logo__menu{
    height: 30px;
}

.logo__imagen{
    height: 40px;
    margin-left: 12px;
}

.navegacion li{
    display: inline;
    margin: 2px; 
}

.navegacion a{
    color: #F2EDDC;
    font-size: 16px;
    padding: 7px 13px;
}
  
li a:hover {
    border-bottom: 2px solid #888C0D;
}

.busqueda{
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.busqueda__barra{
    padding: 5px;
    width: 70%;
    border-radius: 5px;
}

.navegacion{
    display: inline;
    text-align: right;
    width: 40%;
    vertical-align: middle;
}

.enlaces{
    width: 10%;
    height: 100%;
    margin: 12px;
    display: inline-block;
    vertical-align: middle;

}

.image-container {
    width: 1365px; /* Ancho de la imagen */
    height: 800px; /* Altura de la imagen */
    background-image: url(/IMÁGENES/Rectangle\ 8.svg);
    background-size: cover;
    background-position: center center;
}

.principal__busqueda {
    position: absolute;
    top: 20%;
    left: 15%;
    text-align: center;
}

.principal__busqueda >img {
    width: 60%;
    height: 10%;
}
.principal_titulo {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #F2EDDC;
}

.principal_titulo h1 {
    font-size: 70px;
    font-weight: bold; /* Fuente en negrita */
    padding-left: 10px; /* Espacio para el sombreado izquierdo */
    text-shadow: -7px 0 2px rgba(0, 0, 0, 0.5); /* Sombreado izquierdo */
}

.presentacion_texto {
    font-size: 20px;
    position: absolute;
    left: 10%;
    top: 60%;
    text-align: center;
    color: #F2EDDC;
}

.tusproductos {
    width: 1365px; /* Ancho de la imagen */
    height: 1000px; /* Altura de la imagen */
    background-image: url(/IMÁGENES/FondoDos.svg);
    background-size: cover;
    background-position: center center;
}

.categorias {
        width: 1365px; /* Ancho de la imagen */
        height: 800px; /* Altura de la imagen */
        background-image: url(/IMÁGENES/FondoTres.svg);
        background-size: cover;
        background-position: center center;
}

.marcas {
    width: 1365px; /* Ancho de la imagen */
    height: 800px; /* Altura de la imagen */
    background-image: url(/IMÁGENES/FondoCuatro.svg);
    background-size: cover;
    background-position: center center;
}

.productores {
    width: 1365px; /* Ancho de la imagen */
    height: 800px; /* Altura de la imagen */
    background-image: url(/IMÁGENES/FondoCinco.svg);
    background-size: cover;
    background-position: center center;
}

.clientes {
    width: 1365px; /* Ancho de la imagen */
    height: 800px; /* Altura de la imagen */
    background-image: url(/IMÁGENES/FondoSeis.svg);
    background-size: cover;
    background-position: center center;
}

